@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background: rgb(45, 0, 15);
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 0;
	animation: gradient 15s ease infinite;
    background-size: 400% 400%;

}


p {
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-top: 50px;

}

.sub-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.main-container::-webkit-scrollbar {
    display: none;

}

.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 33%;
    flex-wrap: wrap;
    justify-content: center;
}

.text-description {
    opacity: 0;
    color: white;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.svg-box {
    cursor: pointer;
}
.h-20{
    height: 20%;
}
.h-50 {
    height: 50%;
}

.h-70 {
    height: 70%;
}
.h-80{
    height: 80%;
}

.box {
    position: relative;
    color: white;
}

.box .left,
.right,
.top {

    width: 100px;
    height: 100px;
    border: solid 5px black;
    z-index: 88;
    cursor: pointer;
    background-image:url("./images/carton.jpg");
    transition: filter 1s;

}
.right .text{
    font-size: 30px;


}
.left .text{
    font-size: 20px;
    background: -webkit-linear-gradient(#ff3c00, #e73c7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Muli', sans-serif;

}

.top div{
    width: 100px;
    height: 45px;
    border: solid 5px black;
    background-image:url("./images/carton.jpg");
    z-index: 1000;
}

.top.ouvre{
    filter: brightness(0.8);}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}